
<div class="modal modal-sheet position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSheet">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header border-bottom-0">
          <h1 class="modal-title fs-5">Biometrico</h1>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body py-0">
            <a [routerLink]="['/Empleado','Ingreso']">
                <button class="btn btn-lg btn-primary w-100 mx-0 mb-2 ">Ingreso</button>
            </a>
            
        </div>
        <div class="modal-body py-0">
            <a [routerLink]="['/Empleado','Salida']">
                <button class="btn btn-lg btn-primary w-100 mx-0 mb-2 ">Salida</button>
            </a>
        </div>
      </div>
    </div>
  </div>